# Database
DB_CONN_STRING=postgres://postgres:postgres@localhost:5432/voabkr?sslmode=disable

# Redis Session Storage
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=myredispassword
SESSION_SECRET=a_very_secret_key_used_to_encrypt_sessions

# SMTP / Email Configuration
SMTP_ADDR=smtp.example.com:587
SMTP_USER=smtp_username # if password auth is enabled else not set
SMTP_PASS=smtp_password
FROM_EMAIL=no-reply@voyagera.ch

# Framework Mode (debug | release | test)
GIN_MODE=debug
